[Unit]
Description=client_1_49_206_199_97_25004_stream_decoding.service
After=network.target
StartLimitIntervalSec=0

[Service]
#Restart=always
WorkingDirectory=/root/cctv_ai_and_opensource_vision_llms_for_ai.bits
ExecStart=/bin/bash demo_stream_decoding.sh
StandardError=append:/var/log/client_1_49_206_199_97_25004_stream_decoding.log
Restart=on-failure

[Install]
WantedBy=multi-user.target

