[Unit]
Description=consumer_inference
After=network.target
StartLimitIntervalSec=0

[Service]
User=root
Restart=always
WorkingDirectory=/root/cctv_ai_and_opensource_vision_llms_for_ai.bits
ExecStart=/root/anaconda3/envs/test_multimodal_vision_llm/bin/python  x3d_large_consumer.py 95.179.235.8 10.8.96.4 10.1.96.4 0.60 cctv@ai#SOFTWARE007
#StandardOutput=append:/var/log/sixteen_cams.log
#StandardError=append:/var/log/consumer_inference_errors.log
#Restart=on-failure

[Install]
WantedBy=multi-user.target
