[Unit]
Description=whatsapp_video_link
After=network.target

[Service]
User=root
WorkingDirectory=/root/cctv_ai_and_opensource_vision_llms_for_ai.bits
ExecStart=/root/anaconda3/envs/demo_qwen_vl_int4/bin/python whatsapp_server.py
Restart=always

[Install]
WantedBy=multi-user.target
